.kotak{
    height: 50%;
}
.login{
    background-color: rgb(175, 222, 222);
    padding: 10px 10px;
    height: 50vh;
    margin: 50px 0;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 20px;
}
.login input{
    width: 100%;
}
.header{
    background-image: url('/assets/img/bg.jpg');
}
h4{
    color: #fff;
}
